$primary-color: #444;
$secondary-color: #14eb7f;
// $secondary-color: #eece1a;
// $tertiary-color: #14eb7f;
$text-light: #fff;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;